<%#code copied/pasted from wikis#edit view%>

<% if @wiki.private? %>
  <div class="container">
    <div class="row">
    <h4>Wiki Collaborators</h4>
      <% @wiki.collaborators.each do |collaborator|%>
        <%= collaborator.user.name %>,
        <%= collaborator.user.email %>
       <% end %>
       <%# f.label :private, class: 'checkbox' do %>
         <%# f.check_box :private %>
       <%# end %>
       <% if @wiki.user == current_user && @wiki.collaborators? %>
          <%= link_to "Remove Collaborator", collaborator_path(@wiki), method: :delete, class: 'btn btn-danger', data: {confirm: 'Are you sure you want to delete this collaborator?'} %>
       <% end %>
     </div>
  </div>
<% end %>
